* {
    margin: 0;
    padding: 0;  
}
body {
    margin: 0;
    padding: 0;  
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

/* Стилизуем основной контент */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
head{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    margin-top: 0px;    
    padding-top: 0px;  
    
}

/*lANGUAGE*/
.change-lang{
    background-color: #fcfcfc;
    color: #000;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 5px;
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 8px 10px 5px 2px rgba(36, 34, 35, 0.2);
    cursor: pointer;
}
.change-lang option {
    background-color: #f6f2f2;
    color: #000;   
}

/*MENU*/
.active {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 25px;
}
.menu{
    position: fixed;
    width: 100%;
    background-color: #fef2f2e9;
    z-index: 999;/* Задаем z-index, чтобы меню было поверх всех других элементов */
}
.active li {
    list-style-type: none;
    font-size: 20px; 
}
.active a{
    text-decoration: none;
    font-weight: 55px;
    color: rgb(16, 16, 16);
    font-family: 'Raleway', sans-serif;
}
.active a:hover{
    color: rgb(104, 74, 239);
    transition: all 0.3s ease-in-out;
}
.lang-menu_button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 100px;
    margin-top: 0;
    margin-left: 30px;
    background-color: #a8e4a8;
    color: #232323;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.lang-menu_button:hover {
    background-color: #bdc1be;
}
.menu_button:active {
    transform: scale(0.95);
}

/*Название сайта и подзаголвоок*/
.lang-name {
    background-image: url(img/gua.jpg);
    background-size: cover;
    height: 700px;
    display:grid;
    justify-content:center;
    padding: 0;
    margin: 0; 
    align-items: center;
}
.lang-title-name{
    font-family: 'Raleway', sans-serif;
    color: #262424;
    text-align: center;
    font-size: 5rem;
    margin-top: 30px; 
}
.lang-subtitle-name {
    font-family: 'Caveat',
            cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #262424;
    margin-top: -530px;
    text-align: center;
    
}

/*ABOUT US*/
.lang-about-active-content {
    margin-bottom: 1.5rem;
    height: 450px;
}
.lang-section-about-us{
    align-items: center;
    padding-top: 120px;
    padding-bottom: -100px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif; 
}
.line {
    width: 220px;
    height: 0.5px;
    margin: 15px auto 0;
    background-color: rgb(46, 45, 45);
}
.lang-subtitle-about-us {
    align-items: center;
    padding-top: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-right: 30px;
    padding-left: 30px;
}

/*Наши преимущества*/
.services {
    background-image: url(img/serv22.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 710px;
    padding-top: 50px;
}
.lang-services-content {
    margin-top: 30px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    height: 200px;
}
.lang-service-title {
    font-family: 'Raleway', sans-serif;
    margin-left: 500px;
    margin-top: 0;
    padding-left: 90px;
}
img {
    width: 60px;
    height: 60px;
    display: grid;
    border: 1px solid #dbd4d4;
    border-radius: 10px;
    background-color: #e2e5e8;
    margin-top:5px;
    margin-left: 90px;
}
.lang-service-subtitle-3,
.lang-service-subtitle-2,
.lang-service-subtitle-1 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding-left: 90px;
    font-family: 'Raleway', sans-serif;  
}
.lang-discribe-service{
    padding-left:110px;
    line-height: 1.4; 
    font-size: 16px;
    width: 380px;
    font-family: 'Raleway', sans-serif;
    color: rgb(8, 7, 7);
    padding-left: 90px;
}

/*PRICE*/
.lang-price-title{
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
    font-size: 30px;
}
.lang-table-price {
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 250px;
    padding-left: 250px;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    height: 300px;
}
.lang-pr{
    font-family:'Caveat',
        cursive; 
}
.lang-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}
.lang-serv {
     margin-right: 10px; 
}
hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

/*TOUCH US*/
.lang-get-in-touch-us {
    background-image: url(img/but1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.lang-get-in-touch-us button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 40px 50px;
    margin: 10px 20px;
    border-radius: 50px;
    border: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #e6e3b5 0%, #82ef8d 51%, #ef9675 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
}
.lang-get-in-touch-us button:hover {
    background-position: right center; 
}

/*REVIEWS*/
.reviews {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px; 
}
.lang-title-reviews {
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.lang-submit {
    display: block;
    padding: 40px 50px;
    margin: 10px auto;
    border-radius: 50px;
    border: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #e6e3b5 0%, #82ef8d 51%, #ef9675 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.lang-submit:hover {
    background-position: right center;
}
.reviews-list {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
    
}
.review {
    width: 30%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 45px;
}

.review h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}


/*CONTSCT*/
.main-footer {
    background-color:#bdbbbb;
}
.lang-contact-title {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.main-footer section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.lang-our-socail,
.lang-map-title,
.lang-footer-menu-title,
.lang-connect-with-us {
    font-family: 'Raleway', sans-serif;
    text-align: center; 
}
.lang-map-title{
    padding-bottom: 15px;
}
.lang-footer-menu a,
.lang-footer-contact a,
.social-icons a {
    text-decoration: none;
    font-weight: 55px;
    color: rgb(16, 16, 16);
    font-family: 'Raleway', sans-serif;
}
.lang-footer-menu ul,
.lang-footer-contact ul,
.social-icons ul {
    padding-top: 15px;
}
.lang-footer-menu li{
    padding-top: 10px;
    list-style-type: none;
}
.social-icons a:hover,
.lang-footer-contact a:hover,
.lang-footer-menu a:hover {
    background-color: #eee8e8;
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 5px;
}
.lang-footer-menu li,
.lang-footer-contact li,
.social-icons li {
    padding-top: 10px;
    list-style-type: none;
}




/*Адаптивность*/
 /* Стили для мобильных устройств */
 @media only screen and (max-width: 767px) {
   body { 
        padding-top: 50px;
    }
    .container {
        max-width: 100%;
        padding: 0;
    }
/*MENU*/
    .menu {
        margin-right: 0;
        margin-left: 0; 
    }
    .lang-menu_button {
        margin-left: 0;
    }
    .lang-name {
        height: 250px;
    }
    .lang-title-name {
        font-size: 3rem;
    }
    .lang-subtitle-name {
        margin-top: -230px;
        font-size: 1rem;
    }
/*ABOUT*/
    .lang-about-active-content {
        height: auto;
    }
/*OUR ADV*/
    .lang-services-content {
        margin-left: 0;
    }
    .block-serv {
        height: auto;
         width: 10%; 
    }
    .lang-discribe-service {
         width: 10%;  
    }
/*PRICE*/
    .lang-table-price {
        padding-right: 0;
        padding-left: 0;
    }
    .lang-get-in-touch-us {
        height: 200px;
    }
    .lang-get-in-touch-us button {
        padding: 20px 30px;
    }
/*REVIEWS*/
    .reviews-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .review {
        width: 80%;
        margin-bottom: 30px;
    }
} 

  /* Стили для планшетов и ноутбуков */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
/*MENU*/
    .active {
        margin-right: 150px;
        margin-left: 150px;
    }
    .lang-name {
        height: 400px;
    }
    .lang-title-name {
        font-size: 3.5rem;
        margin-top: 10px;
    }
    .lang-subtitle-name {
        font-size: 1.5rem;
        margin-top: -250px;
    }
/*ABOUT US*/
    .lang-about-active-content {
        height: 400px;
    }
    .lang-section-about-us{
    margin-top: -80px;
    }
/*OUR ADV.*/
    .services {
        height: 550px;
        padding-top: 20px;
    }
    .lang-service-title {
        margin-right: 190px;
    }
    .lang-services-content {
        margin-left: 300px; 
    }
    .block-serv {
        height: 140px;
        width: 320px;
    }
    .lang-service-subtitle-3,
    .lang-service-subtitle-2,
    .lang-service-subtitle-1 {
        font-size: 15px;
        margin-top: 2px;
        margin-bottom: 3px;
    }
    .lang-discribe-service {
        width: 600px;
        font-size: 15px;
        padding-top: 0;
        margin-top: 0;
    }
/*PRICE*/
    .lang-price-title {
        padding-top: 50px;
        font-size: 25px;
    }
    .lang-table-price {
        padding-top: 20px;
        padding-bottom: 30px;
        padding-right: 100px;
        padding-left: 100px;
        font-size: 100%;
        height: 250px;
    }
    .lang-row {
        margin-bottom: 5px;
    }
/*TOUCH*/
    .lang-get-in-touch-us {
        height: 200px;
    }
/*REVIEWS*/
    .reviews {
        padding: 20px;
    }
    .lang-title-reviews {
        font-size: 20px;
    }
    .review {
        width: 40%;
        padding: 10px;
    }
/*CONTACT*/
    .lang-contact-title {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

/* Стили для настольных компьютеров и некоторых ноутбуков */
@media only screen and (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
         margin: 0;
         padding: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
    
    h1 {
        font-size: 3em;
    }
     h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em; 
    }
/* HEADER */
    head {
        margin: 0;
        padding: 0;
    }
    header {
        display: flex;
        justify-content: space-between;
        position: sticky;
        margin-top: 0px;
        padding-top: 0px;
    }
/* lANGUAGE */
    .change-lang {
        background-color: #fcfcfc;
        color: #000;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        border: none;
        border-radius: 15px;
        box-shadow: 8px 10px 5px 2px rgba(36, 34, 35, 0.2);
        cursor: pointer;
    }
    .change-lang option {
        background-color: #f6f2f2;
        color: #000;
    }
/* MENU */
    .active {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: space-around;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 25px;
    }
    .menu {
        position: fixed;
        width: 100%;
        background-color: #fef2f2e9;
        z-index: 999;
    }
    .active li {
        list-style-type: none;
        font-size: 20px;
    }
    .active a {
        text-decoration: none;
        font-weight: 55px;
        color: rgb(16, 16, 16);
        font-family: 'Raleway', sans-serif;
    }
    .active a:hover {
        color: rgb(104, 74, 239);
        transition: all 0.3s ease-in-out;
    }
    .lang-menu_button {
        display: inline-block;
        padding: 10px 20px;
        margin-left: 100px;
        margin-top: 0;
        margin-left: 30px;
        background-color: #a1f0a1;
        color: #232323;
        border: none;
        border-radius: 20px;
        font-family: 'Raleway', sans-serif;
    }  
    .lang-title-name {
        text-align: center;
        margin-top: 10px;
    }
    .lang-subtitle-name {
        margin-top: -540px;
        text-align: center;
    }
}
